
.side-menu {
    z-index: 1;
    position: absolute;
    left: -320px;
    margin-bottom: 0;
    height: 100%;
    width: 320px;
    background-image: linear-gradient(to right, rgb(147, 147, 147), rgb(235, 235, 235));
}

.side-menu-active {
    left: 0;
}

.side-menu, .side-menu-active {
    transition: .4s ease-in-out;
}

#main-links-header {
    font-size: 1.1rem;
    font-weight: 200;
    margin: 2px 5px 2px 24px;
    pointer-events: none;
}

.side-menu-main-links {
    margin: 17px 0;
}

.side-menu-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0 5px 20px;
    margin: 10px 5px;
    border-radius: 2px;
    cursor: pointer;
}

.side-menu-links-left-container {
    display: flex;
    font-size: 14px;
    font-weight: 200;
    width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    border: none;
    outline: none;
    background: transparent;
}
.side-menu-links-right-container {
    color: rgb(141, 141, 141);
    font-size: 11px;
    font-weight: 100;
    margin-right: 10px;
}

.side-menu-links:hover {
    background-image: linear-gradient(to bottom right, rgba(218, 218, 218, 0.455), rgba(185, 185, 185, 0.444));
}

.side-menu-links:hover > .side-menu-links-left-container {
    color: black;
    font-weight: 200;
}

.side-menu-links:hover > .side-menu-links-right-container {
    color: rgb(69, 69, 69);
    font-weight: 300;
}

#all-icon {
    margin-right: 10px;
    height: 16px;
    width: 14.5px;
    border: 1.5px solid dodgerblue;
    border-bottom: 4px solid dodgerblue;
    border-radius: 2px;
}

#all-icon-left-flange {
    position: relative;
    top: 8px;
    left: -1px;
    background-color: dodgerblue;
    height: 3px;
    width: 5px;
    border-radius: .5px;
}

#all-icon-right-flange {
    position: relative;
    top: 5px;
    right: -7.5px;
    background-color: dodgerblue;
    height: 3px;
    width: 5px;
    border-radius: .5px;
}

#today-icon {
    color: green;
    font-family: sans-serif;
    font-size: 9px;
    font-weight: 700;
    text-align: center;
    margin-right: 10px;
    height: 16px;
    width: 14.5px;
    border: 1.5px solid green;
    border-top: 4px solid green;
    border-radius: 2px;
}

#upcoming-icon {
    margin-right: 10px;
    height: 16px;
    width: 14.5px;
    border: 1.5px solid purple;
    border-top: 4px solid purple;
    border-radius: 2px;
}

#important-icon {
    color: red;
    font-weight: 900;
    padding: 0 4.5px;
    margin-right: 10px;
}

#favorites-icon {
    background-image: url('./favorites.svg');
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 10px;
    height: 16px;
    width: 14.5px;
}

/* Project section */
#projects-section-header {
    display: flex;
    align-items: center;
    font-size: 1.1rem;
    font-weight: 200;
    padding: 9px 0 9px 20px;
    margin: 2px 5px;
    border-radius: 2px;
    cursor: pointer;
}

#projects-section-header:hover {
    background-image: linear-gradient(to bottom right, rgba(218, 218, 218, 0.455), rgba(185, 185, 185, 0.444));
}

#projects-section-dropdown-arrow {
    margin-right: 10px;
}

.projects-section-dropdown-bars {
    position: relative;
    bottom: 5px;
    display: inline-block;
    background-color: rgb(69, 69, 69);
    height: 1px;
    width: 5px;
}

#projects-section-dropdown-bar1 {
    position: relative;
    left: 3.8px;
}

#projects-section-dropdown-bar1, #projects-section-dropdown-bar2 {
    transition: 0.4s;
}

.project-section-dropdown-arrow-active > #projects-section-dropdown-bar1 {
    background-color: black;
    transform: rotate(30deg) translateX(.75px);
}

.project-section-dropdown-arrow-active > #projects-section-dropdown-bar2 {
    background-color: black;
    transform: rotate(-30deg) translateX(-.75px);
}

.project-dropdown-menu {
    position: absolute;
    height: 250px;
    width: 100%;
    overflow: scroll;
    opacity: 0;
    pointer-events: none;
    transform: translateY(-30px);
    transition: 0.4s ease-in-out;
}

.project-dropdown-menu-active {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
}

@keyframes append-animate {
	from {
        transform: translateY(35px);
		opacity: 0;
	}
	to {
		transform: translateY(0);
		opacity: 1;	
	}
}

.new-project-link {
	animation: append-animate .4s ease-in;
}

.project-link-confirm-button {
    font-size: 12px; 
    font-weight: 200; 
    opacity: 0; 
    border: none; 
    background: transparent;
    transition: .4s ease-in-out;
    pointer-events: none;
}

.project-link-confirm-button-active {
    cursor: pointer;
    opacity: 1;
    transition: .4s ease-in-out;
    pointer-events: inherit;
}