
.todo-ticket {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-top: .5px solid rgb(69, 69, 69);
    cursor: pointer;
}

.todo-ticket:hover {
    background-image: linear-gradient(to bottom right, rgb(247, 247, 247), rgb(223, 223, 223));
}

.todo-ticket-left-container {
    display: flex;
}

.todo-ticket-left-container > input {
    margin: 0 1em;
}

.todo-ticket-left-container > div {
    font-weight: 200;
    margin: 0 1em;
}
.todo-ticket-date {
    color: rgb(69, 69, 69);
    font-size: .8rem;
    border-top: .2px solid rgba(69, 69, 69, 0.252);
}

.todo-ticket-project {
    color: rgb(69, 69, 69);
    font-size: .8rem;
    font-weight: 200;
}