
.navbar {
    display: flex;
    justify-content: space-between;
    color: whitesmoke;
    font-size: .9rem;
    font-weight: 200;
    background-image: linear-gradient(to bottom right, rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0.618));
    height: 3rem;
}

.navbar-left-container {
    display: flex;
    align-items: center;
    margin-left: 25px;
}

.navbar-right-container {
    display: flex;
    align-items: center;
    margin-right: 25px;
}

/* Hamburger Menu */
#hamburger-menu {
    padding: 2px 5px;
    border-radius: 2px;
    cursor: pointer;
}

.hamburger-menu-bar {
    background-color: whitesmoke;
    margin: 5px 0;
    height: 1.5px;
    width: 24px;
    border-radius: .5px;
}

#hamburger-menu:hover {
    background-image: linear-gradient(to bottom right, rgba(0, 0, 0, 0.522), rgb(0, 0, 0));
}

#hamburger-menu, #hamburger-menu:hover {
    transition-duration: 0.5s;
}

#bar1, #bar2, #bar3 {
    transition: 0.4s;
}

.hamburger-menu-active > #bar1 {
    transform: rotate(-45deg) translate(-4px, 4px);
}

.hamburger-menu-active > #bar2 {
    opacity: 0;
}

.hamburger-menu-active > #bar3 {
    transform: rotate(45deg) translate(-5px, -5px);
}

/* Links */
#navbar-links {
    display: flex;
    margin-left: 10px;
}

.navbar-links {
    padding: 1rem .5em;
    cursor: pointer;
}

.navbar-links:hover {
    font-weight: 300;
    background-image: linear-gradient(to bottom right, rgba(0, 0, 0, 0.412), rgb(0, 0, 0));
}

.navbar-links, .navbar-links:hover {
    transition: opacity 0.3s;
}

/* Dropdown */
.navbar-dropdown-menu {
    position: absolute;
    z-index: 1;
    background-image: linear-gradient(to right, rgb(179, 179, 179), rgb(204, 204, 204));
    width: 100px;
    border-radius: 2px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.372);
    opacity: 0;
    pointer-events: none;

    transition: opacity .3s ease-in-out;
}

.navbar-dropdown-menu-active {
    opacity: 1;
    pointer-events: auto;
}

.navbar-dropdown-menu-links {
    color: rgba(69, 69, 69);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: .8rem;
    font-weight: 200;
    padding: 3px 10px;
    border-bottom: .5px solid rgba(69, 69, 69, 0.3);
    cursor: pointer;
}

.navbar-dropdown-menu-links:hover {
    color: black;
    font-weight: 300;
    background-image: linear-gradient(to bottom right, rgba(179, 179, 179, 0.455), rgba(207, 207, 207, 0.444));
    transition: opacity 0.4s;
}

/* Search Bar */
#search-bar {
    display: flex;
    align-items: center;
    margin-left: 10px;
    padding: 3px;
    background-color: rgba(245, 245, 245, 0.265);
    border: 0;
    border-radius: 2px;
} 

#search-bar > ::placeholder {
    color: whitesmoke;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 200;
}

#search-bar>div {
    display: flex;
    align-items: center;
}

#search-bar>input {
    background: transparent;
    margin-left: 5px;
    border: none;
    outline: none;
}

#search-bar>::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
    color: whitesmoke;
    background-image: url('./cancel-icon.svg');
    background-size: 15px;
    background-repeat: no-repeat;
    height: 15px;
    width: 15px;
    cursor: pointer;
}

/* Notification Bell */
#notification-bell {
    background-image: url('./notification-bell.svg');
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
    height: 20px;
    width: 20px;
    cursor: pointer;
}

#notification-counter {
    display: none;
    font-size: 8px;
    text-align: center;
    background-image: linear-gradient(to bottom right, rgb(255, 0, 0), rgb(255, 111, 111));
    padding-top: 1px;
    margin-left: -2px;
    margin-top: -2px;
    height: 12px;
    width: 12px;
    border-radius: 7px;
}

/* Account Icon */
#account-icon {
    background-image: url('./account-icon.svg');
    background-size: 32.5px;
    background-repeat: no-repeat;
    background-position: center;
    height: 7dvh;
    width: 32.5px;
    margin-left: 10px;
    cursor: pointer;
}

/* Media Query (small screens) */
@media all and (max-width: 500px) {
    .navbar-container-left {
        margin-left: 8px;
    }

    .navbar-container-right {
        margin-right: 8px;
    }

    .navbar-links {
        display: none;
    }
}
