
* {
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-color: whitesmoke;
    margin: 0;
    height: 100lvh;
}

.hide {
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important;
}
 
