@font-face {
    font-family: 'Roboto';
    src: url('./fonts/Roboto-Regular.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}
  